.footer-bottom{justify-content:center;text-align:center;gap:26px}.footer-bottom:before{margin-left:0}
@media(max-width:800px){.footer-bottom{display:flex;flex-direction:column;gap:8px}.footer-bottom:before{order:3;margin:4px 0 0}}
